.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid black;
    border-radius: 3em;
    margin: 20px;
    width: 70%;

}

.project img{
    width: 80%;
    height: auto;
}

.btn {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.btns button {
    /* Add styles to the buttons */
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin: 30px;
  }



